
h1 {
    font-size: 40px;
    margin-top: 45vh;
     margin-left: 45vw;
     margin-right: 45vw;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
input {
     border: none;
     outline: none;
}

a {
     text-decoration: none;
     color: black;
}
.button {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     width: 200px;
     height: 30px;
     display: flex;
     justify-content: center;
     align-items: center;
     margin-left: 42vw;
      margin-right: 42vw;
     margin-top: 50px;
     border-radius: 20px;
     transition: 0.5s;
     background: linear-gradient(to right, rgb(12, 243, 212), rgb(15, 219, 124));
}
.login {
    margin-bottom: 3vh;
    margin-left: 45vw;
}
.button:hover {
   box-shadow: 1px 1px rgb(51, 51, 51);
}